
#dashboard
  .left_column
    %h2 
      = link_to 'Artifacts', artifacts_path
    = render :partial=>'artifacts'
    .links
      = link_to '+ Create a new artifact', new_artifact_path
          
  .center_column
    %h2 
      = link_to 'Environments', environments_path
    = render :partial=>'environments'
    .links
      = link_to '+ Create a new environment', new_environment_path

  .right_column
    = render :partial=>'dashboard_help'

- javascript_tag do
  monitor_content('#{dashboard_path}', ['table#artifacts', 'table#environments']);    
