<tr id="<%= instance.id %>" class="<%= status(instance) %>">
  <td><%= link_to instance.id, instance %></td>
  <td><%= render_dns_name(instance) %></td>
  <td class="<%= status(instance) %>"><%=h instance.status %></td>
  <td><%= button_to 'Down', instance, :class => 'down', :method => :delete %></td>
</tr>
