#environment_images_container
  .box_header
    %h2
      = header_text
  #environment_images_header
    .name
      Name
    .image_id
      Id
    .hardware_profile
      Hardware Profile
    .services
      Services
    .image_status
      Status
    .image_health
      Health
  - instances.each do |instance|
    .image_row
      .name
        - unless instance.public_dns.blank?
          = link_to instance.name, "http://#{instance.public_dns}"
        - else
          = instance.name
      .image_id
        = instance.cloud_id or '&nbsp;'
      .hardware_profile
        = instance.hardware_profile
      .services
        - if instance.services.blank?
          None
        - else
          %ul
            - instance.services.each do |service|
              %li
                = service.full_name
      .image_status
        = instance.current_state
      .image_health
        &nbsp;&nbsp;
        = image_tag 'healthy.png'
      .image_logs
        = link_to "View Logs"
      .image_actions
        = link_to "Stop"
      .start_another
        = link_to 'Add', '#'
        
    - if instances.empty?
      .image_row
        .name
          This environment has no running instances.
