#environment_images_container
  .box_header
    %h2
      = header_text
  #environment_images_header
    .name
      Name
    .image_id
      Id
    .hardware_profile
      Hardware Profile
    .services
      Services
    .image_status
      Status
    .image_health
      Health
  - instances.each do |instance|
    - div_for(instance, :class=>'image_row') do
      .name
        - unless instance.public_dns.blank?
          = link_to instance.name, "http://#{instance.public_dns}"
        - else
          = instance.name
      .image_id
        = instance.cloud_id or '&nbsp;'
      .hardware_profile
        = instance.hardware_profile
      .services
        %ul
          - if instance.services.blank?
            %li None
          - else
            - instance.instance_services.each do |instance_service|
              %li
                = instance_service.service.full_name
                = instance_service.current_state
      .image_status
        = instance.current_state
      .image_health
        &nbsp;&nbsp;
        = image_tag 'healthy.png'
      .image_logs
        = link_to "View Logs"
      .image_actions
        = link_to_function "Stop", "remote_stop_instance('#{stop_environment_instance_path(instance.environment.id, instance.id)}')"
      .start_another
        = link_to 'Add', '#'
      .start_another_dialog{:style=>'display:none'}
        .close
          = link_to "Close", '#', :title=>'Close this dialog'
        %p How many additional instances would you like to add to this environment?
        = label_tag "Number of instances"
        = text_field_tag :new_instances, 1
        &raquo;
        = link_to 'Start'
    
    - javascript_tag do
      ="monitor_instance('#{status_environment_instance_path(instance.environment.id, instance.id)}', '##{dom_id(instance)}');"
    - if instances.empty?
      .image_row
        .name
          This environment has no running instances.
