#environment_images_container
  .box_header
    %h2
      = header_text
    #start_another
      = link_to 'Add'
  #environment_images_header
    .name
      Name
    .hardware_profile
      Hardware Profile
    .image_status
      Status
    .image_health
      Health
  - instances.each do |instance|
    .image_row
      .name
        = link_to instance.name
      .hardware_profile
        = instance.hardware_profile
      .image_status
        = instance.status
      .image_health
        &nbsp;&nbsp;
        = image_tag 'healthy.png'
      .image_logs
        = link_to "View Logs"
      .image_actions
        = link_to "Stop"
    - if instances.empty?
      .image_row
        .name
          This environment has no running instances.
