- content_tag_for( :tr, instance ) do
  %td.summary
    .name
      = instance.name
    .current_state
      = instance.current_state.titleize
    .hardware_profile
      = instance.hardware_profile
    .cloud_id
      = instance.cloud_id
  %td.services
    %ul
      - if instance.services.blank?
        %li None
      - else
        - instance.instance_services.each do |instance_service|
          %li
            = instance_service_link(instance_service)
            ( #{instance_service.current_state} )
            %br
            = link_to "View Logs", logs_environment_instance_instance_service_path(instance.environment, instance, instance_service)
  %td.actions
    = link_to_function "Stop", "remote_stop_instance('#{stop_environment_instance_path(instance.environment.id, instance.id)}')"
