- content_tag_for( :tr, instance ) do
  %td.summary
    .name
      == ##{instance.number}
    .current_state
      = instance_status_for_environment_row(instance)
    .hardware_profile
      = instance.hardware_profile
      - unless instance.cloud_id.blank?
        == - #{instance.cloud_id}
  %td.services
    %ul
      - if instance.services.blank?
        %li None
      - else
        - instance.instance_services.each do |instance_service|
          %li
            = instance_service_link(instance_service)
            %span.current_state
              #{instance_service.current_state.titleize}
            = link_to "Logs", logs_environment_instance_instance_service_path(instance.environment, instance, instance_service)
            = additional_instance_service_actions(instance_service)
  %td.actions
    = link_to_function "Stop", "remote_stop_instance('#{instance.name}', '#{stop_environment_instance_path(instance.environment.id, instance.id)}')"

