<h2>Node Summary</h2>
<table id="cluster" class="<%= cluster_status(summary) %>" >
  <tr>
    <td>Management</td>
    <td><%= type_ratio(:management, summary) %></td>
    <td><%= ajax_loader(:management, summary) %></td>
  </tr>
  <tr>
    <td>Backend</td>
    <td><%= type_ratio(:backend, summary) %></td>
    <td><%= ajax_loader(:backend, summary) %></td>
  </tr>
  <tr>
    <td>Frontend</td>
    <td><%= type_ratio(:frontend, summary) %></td>
    <td><%= ajax_loader(:frontend, summary) %></td>
  </tr>
</table>
