<h1>Cluster Management</h1>
<%= render :partial => 'instances', :locals => {:type => 'frontend'} %>
<%= render :partial => 'instances', :locals => {:type => 'backend'} %>
<%= render :partial => 'instances', :locals => {:type => 'management'} %>

<h1>App Management</h1>
<div class="admin">
  <% form_tag({:controller => :app, :action => :upload}, :multipart => true) do %>
  <%= file_field_tag 'archive' %>
  <%= submit_tag 'Deploy' %>
  <% end %> 
  <%= render :partial => 'apps/apps', :object => App.all %>
</div>
