<div id="shutdown"><%= button_to('Shutdown All', shutdown_instances_path) %></div>

<h1>Cluster Management</h1>


<%= render :partial => 'instances', :locals => {:type => 'frontend'} %>
<%= render :partial => 'instances', :locals => {:type => 'backend'} %>
<%= render :partial => 'instances', :locals => {:type => 'management'} %>

<h1>App Management</h1>
<%= render :partial => 'apps/apps', :object => App.all %>
<%= render :partial => 'apps/upload', :object => App.new %>
