<p>
  <b>Instance:</b>
  <%=h @instance.id %>
</p>

<p>
  <b>Image:</b>
  <%=h @instance.image_id %>
</p>

<p>
  <b>Key pair name:</b>
  <%=h @instance.key_pair_name %>
</p>

<p>
  <b>Public dns:</b>
  <%=h @instance.public_dns %>
</p>

<p>
  <b>Status:</b>
  <%=h @instance.status %>
</p>


<%= link_to 'Back', instances_path %>
