- if instances.empty?
  .empty
    No instances found.
- else
  %table.header_top.cloud_instances
    %tr
      %th.instance_id
        Identifier
      %th.instance_image
        Image
      %th.instance_user
        User
      %th.instance_environment
        Environment
      %th.instance_actions
        Actions
    - instances.each do |instance|
      %tr
        %td.instance_id
          &= instance[:id]
        %td.instance_image
          &= instance[:image]
        %td.instance_user
          &= instance[:user]
        %td.instance_environment
          &= instance[:environment]
        %td.instance_actions
          - if cloud_instances_actions?(instance_type)
            = link_to 'Terminate', cloud_instance_path(instance[:id]), :method => :delete, :confirm => "Are you sure you want to terminate #{instance[:id]}?"
