#cloud_instances_index
  .page_header
    %h1 Instances

  .left_column
    #running
      %h2 Running Instances
      - @running_instances.each do |cloud_profile, instances|
        %h3=h cloud_profile.name_with_details
        = render :partial => 'list', :locals => {:instances => instances, :instance_type => :running, :allow_stop => false}
  
    #managed
      %h2 Managed Instances
      - @managed_instances.each do |cloud_profile, instances|
        %h3=h cloud_profile.name_with_details
        = render :partial => 'list', :locals => {:instances => instances, :instance_type => :managed, :allow_stop => false}
  
    #runaway
      %h2 Orphaned Instances
      - @runaway_instances.each do |cloud_profile, instances|
        %h3= cloud_profile.name_with_details
        = render :partial => 'list', :locals => {:instances => instances, :instance_type => :runaway, :allow_stop => true}

  .right_column
    = render :partial=>'index_help'
