#edit_cloud_profile
  %h1 Edit a Cloud Profile
  .left_column
    - form_for(@cloud_profile) do |f|
      = f.error_messages
      = render :partial => "form", :object => f
      = f.submit "Update Cloud Profile"
      = link_to 'Back', :back
  .right_column
    = render :partial=>'form_edit_help'

