%h1 Listing cloud_profiles
%table
  %tr
    %th Cloud name
    %th Provider name
    %th Username
    %th Password
  - @cloud_profiles.each do |cloud_profile|
    %tr
      %td= h cloud_profile.cloud_name
      %td= h cloud_profile.provider_name
      %td= h cloud_profile.username
      %td= h cloud_profile.password
      %td= link_to 'Show', cloud_profile
      %td= link_to 'Edit', edit_cloud_profile_path(cloud_profile)
      %td= link_to 'Destroy', cloud_profile, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New cloud_profile', new_cloud_profile_path
