#artifact_versions_container.tabular
  %h2
    = header_text
  .header
    .version_number
      Version
    .archive
      Archive
    .actions
      Actions
  - artifact_versions.each do |artifact_version|
    .row
      .version_number
        = artifact_version.version_number
      .archive
        = artifact_version_download_link(artifact_version)
      .actions
        = link_to 'Deploy', new_deployment_path('deployment[artifact_version_id]' => artifact_version.id)
        = link_to 'Delete', artifact_version_path(artifact_version, :artifact_id => artifact_version.artifact.id), :method => :delete, :confirm => "Are you sure you want to delete version #{artifact_version.version_number}?"
  - if artifact_versions.empty?
    .row
      .version_number
        = empty_text
  - if defined?(action_link)
    = action_link
