- div_for( artifact_version ) do
  .metadata
    .version_number
      = artifact_version.version_number
    .created_at
      = artifact_version.created_at.to_s(:long)
    .archive
      = artifact_version_download_link(artifact_version)
  .actions
    - unless artifact_version.upload_failed?
      = render :partial => 'deploy_dialog', :locals => {:artifact_version=>artifact_version}
    - if (artifact_version.uploaded? || artifact_version.upload_failed?) && !artifact_version.is_deployed?
      = link_to 'Delete', artifact_version_path(artifact_version, :artifact_id => artifact_version.artifact.id), :method => :delete, :confirm => "Are you sure you want to delete version #{artifact_version.version_number}?"

- if artifact_version.staging? or artifact_version.uploading?
  - javascript_tag do
    ="monitor_content('#{status_artifact_version_path(artifact_version, :artifact_id => artifact_version.artifact_id)}', ['##{dom_id(artifact_version)}']);"
