#show_logs
  .page_header
    .actions
      %ul#available_logs
        - @logs.each do |log|
          %li
            - unless (@log == log )
              = link_to(log, :log => log, :type => @type)
            - else
              %span.action_like.selected
                = log

    %h1
      = link_to @environment.name, @environment
    %h2 #{@instance.name} #{@instance_service.full_name}

  #logs_container
    #log_options
      .option
        = link_to_unless(@type == 'tail', 'Tail', :type => 'tail', :log => @log)
      .option
        = link_to_unless(@type == 'all', 'All messages', :type => 'all', :log => @log)
    %h3 #{@log}
    %pre#log_output
      Fetching log...
      
  - if @type == 'tail'
    :javascript
      tail_log('#{raw url_for(:log => @log, :type => @type, :escape => false)}', 200, -12000, true);
  - else
    :javascript
      tail_log('#{raw url_for(:log => @log, :type => @type, :escape => false)}', 2048, 0, false);

