
- if form.object.new_record? or current_user.profile_complete?
  %ul
    %li
      = form.label :email
      = form.text_field :email
    %li
      = form.label :password, form.object.new_record? ? nil : "Change password"
      = form.password_field :password
    %li
      = form.label :password_confirmation
      = form.password_field :password_confirmation
  - if params[:token]
    = hidden_field_tag :token, params[:token]
- unless form.object.new_record?
  %ul
    - unless form.object.profile_complete?
      %li
        = form.label :cloud_username, "Amazon Access Key"
        = form.text_field :cloud_username
    - else
      %li
        = form.label :cloud_username, "Amazon Access Key"
        = form.text_field :cloud_username
      %li#cloud_password_prompt
        = form.label :cloud_password, "Amazon Secret Access Key"
        = form.object.obfuscated_cloud_password 
        .link
          = link_to 'Change Secret Access Key', '#', :class=>'js-cloud_password_toggle'
    %li#cloud_password_field{:style=>form.object.profile_complete? ? 'display:none' : ''}
      = form.label :cloud_password, "Amazon Secret Access Key"
      = form.text_field :cloud_password, :value=>""
      .link
        = link_to 'Hide', '#', :class=>'js-cloud_password_toggle' if form.object.profile_complete?
    %li
      = form.label :ssh_key_name, "Amazon SSH Key Name (leave blank to disable SSH access)"
      = form.text_field :ssh_key_name
