#users_index
  .page_header
    - content_for_organization_admin do
      .actions
        = link_to '+ Invite New User', new_account_request_path
    %h1 Users

  %table#users_container.header_top
    %tr
      %th.email
        = sort_link('Email', :email)
      - content_for_superuser do
        %th.superuser
          Superuser?
      - content_for_organization_admin do
        %th.organizationadmin
          Organization Admin?
      %th.lastlogin
        = sort_link('Last Login', :current_login_at)
      %th.lastrequest
        = sort_link('Last Activity', :last_request_at)
      %th.actions
        Actions
    - collection.each do |user|
      %tr
        %td.email
          = mail_to user.email
        - content_for_superuser do
          %td.superuser
            = user.superuser?
        - content_for_organization_admin do
          %td.organizationadmin
            = user.organization_admin?
        %td.lastlogin
          - if user.current_login_at
            == #{time_ago_in_words(user.current_login_at)} ago
        %td.lastrequest
          - if user.last_request_at
            == #{time_ago_in_words(user.last_request_at)} ago
        %td.actions
          - content_for_superuser do
            = link_to 'Assume User', assume_user_user_path(user)
            = link_to 'Edit', edit_user_path(user)
          - content_for_organization_admin do
            - unless user == current_user
              - if user.organization_admin?
                = link_to 'Demote', demote_user_path(user), :method => :post
                - else
                  = link_to 'Promote', promote_user_path(user), :method => :post
  
