#users_container
  %h2
    Users

  #users_header
    .user_email
      Email
    - content_for_superuser do
      .user_superuser
        Superuser? 
    .user_lastlogin
      Last Login
  - collection.each do |user|
    .user_row
      .user_email
        = mail_to user.email
      - content_for_superuser do
        .user_superuser
          = user.superuser?
      .user_lastlogin
        - if user.current_login_at
          == #{time_ago_in_words(user.current_login_at)} ago
        - else
          &nbsp;
      - content_for_superuser do
        .user_assume
          = link_to 'Assume User', assume_user_user_path(user)
      .user_edit
        = link_to 'Edit', edit_user_path(user)
    
