#show_user
  .page_header
    .actions
      = link_to('Edit', edit_account_path)
    %h1
      Account
    %h2 
      &= @user.email

  %p
    %b Email:
    &= @user.email
  %p
    %b Amazon Access Key:
    &= @user.cloud_username
  %p
    %b Amazon SSH Key Name:
    &= @user.ssh_key_name
  %p
    %b Cloud realm:
    &= @user.default_realm
  %p
    %b Amazon S3 Artifact Bucket:
    &= @user.artifact_bucket_name
  %p
    %b Amazon Environment Clustering Bucket:
    &= @user.environment_bucket_name

  
