%h2
  Create New Version of #{h @app.name}
- form_for(:app_version, :url => app_versions_path(:app_id => @app.id), :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit 'Create'
  = link_to 'Cancel', @app
