
#deployments
  %h2 Deployments
  - if ( @deployments.values.flatten.empty? )
    .empty
      No current deployments
  - else
    - ArtifactVersion::TYPES.each do |artifact_type|
      - deployments = @deployments[artifact_type]
      - unless deployments.empty?
        .artifact_type
          %h3
            = ArtifactVersion::TYPE_DESCRIPTIONS[artifact_type]
          - for deployment in deployments
            - div_for deployment do
              .actions
                - if deployment.is_deployed?
                  = link_to 'Undeploy', deployment, :method => :delete, :confirm => "Are you sure you want to undeploy this artifact?"
              .name
                = link_to "#{h deployment.artifact.name} (v#{h deployment.artifact_version.version_number})", deployment.artifact
              - unless deployment.url.nil?
                .url
                  = link_to 'Link', deployment.url 
              .status
                = render 'deployments/service_list', :deployment => deployment

              - javascript_tag do
                ="monitor_deployment('#{status_environment_deployment_path(@environment, deployment.id)}', '##{dom_id(deployment)}');"

  .actions
    = link_to 'Deploy an artifact', new_deployment_path('deployment[environment_id]' => @environment.id)
