#environments_container.tabular
  %h2
    = header_text
  .header
    .name
      Name
    .platform
      Platform
    .status
      Status
    .actions
      Actions
  - environments.each do |environment|
    - div_for(environment, :class=>'row') do
      .name
        = link_to environment.name, environment
      .platform
        = environment.platform_version
      .status
        = environment.current_state.titleize
      .actions
        - if environment.can_stop?
          = link_to 'Stop', stop_environment_path(environment), :method => :post, :confirm => "Are you sure you want to stop #{environment.name}?"
        - elsif environment.can_start?
          = link_to 'Start', start_environment_path(environment), :method => :post
        - else
          &nbsp;
        = link_to 'Clone', clone_environment_path(environment), :method => :post
        = link_to 'Edit', edit_environment_path(environment)
        = link_to 'Delete', environment, :method => :delete, :confirm => "Are you sure you want to delete #{environment.name}?"
    - javascript_tag do
      ="monitor_environment('#{status_environment_path(environment.id)}', '##{dom_id(environment)}');"
  
  - if environments.empty?
    .row
      .name
        = empty_text
  - if defined?(action_link)
    = action_link
