#environments_container
  %h2
    = header_text
  #environments_header
    .environment_name
      Name
    .environment_platform
      Platform
    .environment_status
      Status
  - environments.each do |environment|
    .environment_row
      .environment_name
        = link_to environment.name, environment
      .environment_platform
        = environment.platform_version
      .environment_status
        = environment.status
      .environment_action
        - if environment.running?
          = link_to 'Stop', stop_environment_path(environment), :method => :post, :confirm => "Are you sure you want to stop #{environment.name}?"
        - else
          = link_to 'Start', start_environment_path(environment), :method => :post
      .environment_edit
        = link_to 'Edit', edit_environment_path(environment)
      .environment_delete
        = link_to 'Delete', environment, :method => :delete, :confirm => "Are you sure you want to delete #{environment.name}?"
  - if environments.empty?
    .environment_row
      .environment_name
        = empty_text
  - if defined?(action_link)
    = action_link
