%table#environments_container.header_top
  %tr
    %th.name
      Name
    %th.platform
      Platform
    %th.status
      Status
    %th.actions
      Actions
  - if environments.empty?
    %tr
      %td.empty{:colspan=>4}
        You have not created any environments yet
  - else
    - environments.each do |environment|
      - content_tag_for(:tr, environment) do
        %td.name
          = link_to h(environment.name), environment
        %td.platform
          &= environment.platform_version
        %td.status
          = render :partial => '/environments/instance_states', :locals => {:environment=>environment}
        %td.actions
          - if environment.can_stop?
            = stop_environment_link(environment, 'Stop')
          - elsif environment.can_start?
            = link_to 'Start', start_environment_path(environment), :method => :post
          = link_to 'Clone', clone_environment_path(environment), :method => :post
          = link_to 'Edit', edit_environment_path(environment)
          = link_to 'Delete', environment, :method => :delete, :confirm => "Are you sure you want to delete #{environment.name}?" if environment.stopped?
  
