#topology
  %h2 Topology
  - for image in sort_images_by_service_display_order(@environment.environment_images)
    - div_for( image ) do
      %h3
        = image.image.name
        - if @environment.running? and image.can_start_more?
          = link_to 'Add Instance', environment_instances_path(@environment.id, :environment_image_id => image.id), :method => :post
      - if image.instances.empty?
        .empty
          No running instances.
      %table
        - image.instances.each_with_index do |instance, i|
          = render :partial=>'/instances/row', :locals=>{ :instance=>instance }
          - javascript_tag do
            ="monitor_instance('#{status_environment_instance_path(instance.environment.id, instance.id)}', '##{dom_id(instance)}');"
