#topology
  %h2 Topology
  - for image in @environment.environment_images
    - div_for( image ) do
      %h3
        = image.image.name
        = link_to 'Add', '#'
        .start_another_dialog{:style=>'display:none'}
          .close
            = link_to "Close", '#', :title=>'Close this dialog'
          %p How many additional instances would you like to add to this environment?
          = label_tag "Number of instances"
          = text_field_tag :new_instances, 1
          &raquo;
          = link_to 'Start'
      %table
        - image.instances.each_with_index do |instance, i|
          = render :partial=>'/instances/row', :locals=>{ :instance=>instance }
          - javascript_tag do
            ="monitor_instance('#{status_environment_instance_path(instance.environment.id, instance.id)}', '##{dom_id(instance)}');"
