#environments_index
  .left_column
    .page_header
      .actions 
        = link_to '+ Create New Environment', new_environment_path
      %h1 Environments
    = render :partial => "list", :locals => { :environments => @environments } 
    - javascript_tag do
      = "monitor_content('#{status_environments_path}', ['#environments_container']);"
  .right_column
    = render :partial => 'index_help'
