#show_environment
  %h2
    &= @environment.name
  #detail
    = render :partial=>'detail'

  #deployments
    = render :partial => "deployments/list_from_environments", :locals => { :deployments => @environment.deployments.deployed, :header_text => "Deployed Artifacts", :empty_text => "This environment has no deployments." }

  #instances
    = render :partial => "instances/list", :locals => { :instances => @environment.instances.active, :header_text => "Instances" }

  %p
    = link_to 'View All Environments', environments_path
