#show_environment
  .page_header
    .actions
      - if @environment.can_stop?
        = stop_environment_link(@environment)
      - elsif @environment.can_start?
        = start_environment_link(@environment)
      = link_to 'Edit Environment', edit_environment_path(@environment)
      - if @environment.event_subject
        = link_to 'Events', events_for_subject_path(@environment.event_subject)

    %h1
      &= @environment.name
    %h2
      &= @environment.platform_version.platform.name
    - if @environment.can_stop?
      %h3
        Availability Zone: #{@environment.realm}

  .left_column
    =render :partial=>'topology'
    
  .right_column
    =render :partial=>'deployments'

