#apps_container
  %h2
    = header_text
  #apps_header
    .app_name
      Name
    .app_latest_version
      Latest Version
  - apps.each do |app|
    .app_row
      .app_name
        = link_to app.name, app_path(app)
      .app_latest_version
        = app.latest_version_number || 'None'
      .app_deploy
        - if app.latest_version_number
          = link_to 'Deploy', new_deployment_path('deployment[app_version_id]' => app.latest_version.id)
        - else
          &nbsp;
      .app_edit
        = link_to 'Edit', edit_app_path(app)
      .app_delete
        = link_to 'Delete', app, :method => :delete, :confirm => "Are you sure you want to delete #{app.name}?"
  - if apps.empty?
    .app_row
      .app_name
        = empty_text
