#environment_images_container
  %h2
    = header_text
  - environment_images.each do |env_image|
    .row
      .name
        = env_image.image.name
      .hardware_profile
        = env_image.hardware_profile
      .num_instances
        = env_image.instances.size
        = '/'
        = env_image.num_instances
      .actions
        = link_to 'Start Another'
