#deployments_container
  %h2
    = header_text
  #deployments_header
    .deployment_app
      Application
    .deployment_environment
      Version
  - deployments.each do |deployment|
    .deployment_row
      .deployment_app
        = link_to deployment.app.name, app_path(deployment.app_version.app)
      .deployment_environment
        = deployment.app_version.version_number
      .deployment_delete
        = link_to 'Undeploy', deployment, :method => :delete, :confirm => "Are you sure you want to undeploy this application?"
  - if deployments.empty?
    .deployment_row
      .deployment_app
        = empty_text
