#artifacts_container.tabular
  .header
    .name
      Name
    .service
      Service
    .latest_version
      Latest Version
    .actions
      Actions
  - artifacts.each do |artifact|
    .row
      .name
        = link_to artifact.name, artifact_path(artifact)
      .service
        = artifact.service_name
      .latest_version
        = artifact.latest_version_number || 'None'

      .actions
        - if artifact.latest_version_number
          = link_to 'Deploy', new_deployment_path('deployment[artifact_version_id]' => artifact.latest_version.id)
        - else
          &nbsp;
        = link_to 'Edit', edit_artifact_path(artifact)
        = link_to 'Delete', artifact, :method => :delete, :confirm => "Are you sure you want to delete #{artifact.name}?"
  - if artifacts.empty?
    .artifact_row
      .artifact_name
        = empty_text
