%table#artifacts_container.header_top
  %tr
    %th.name
      Name
    %th.cloud_profile
      Cloud Profile
    %th.service
      Service
    %th.latest_version
      Latest Version
    %th.actions
      Actions
  - artifacts.each do |artifact|
    - content_tag_for( :tr, artifact ) do
      %td.name
        = link_to h(artifact.name), artifact_path(artifact)
      %td.cloud_profile
        =h artifact.cloud_profile.name
      %td.service
        = artifact.service_name
      %td.latest_version
        = artifact.latest_version_number || 'None'

      %td.actions
        - if artifact.latest_version_number
          = link_to 'Deploy', new_deployment_path('deployment[artifact_version_id]' => artifact.latest_version.id)
        - else
          &nbsp;
        = link_to 'Edit', edit_artifact_path(artifact)
        = link_to 'Delete', artifact, :method => :delete, :confirm => "Are you sure you want to delete #{artifact.name}?" unless artifact.is_deployed?
