#show_artifact

  .page_header
    .actions
      - unless @artifact.artifact_versions.empty?
        = render :partial => 'deploy_dialog', :locals => {:artifact_version=>@artifact.latest_version}
      = link_to 'Edit Details', edit_artifact_path( @artifact )
    %h1 
      &= @artifact.name
    %h2 
      = @artifact.service.full_name 
      - unless @artifact.latest_version.nil?
        \:
        = @artifact.latest_version.type_description
    %h3
      Cloud profile: #{@artifact.cloud_profile.name_with_details}


  .left_column
    %h2= "Versions (#{@artifact.artifact_versions.size})"
    - unless @artifact.description.nil? || @artifact.description.strip == ''
      .description
        .header
          Description
        .content
          &= @artifact.description
    = render :partial => "artifact_versions/list", :locals => { :artifact_versions => @artifact.artifact_versions }
    .actions
      = link_to('Upload New Version', new_artifact_artifact_version_path(@artifact) )
  .right_column
    %h2 Deployments
    = render :partial => "deployments/list", :locals => { :deployments => @artifact.deployments.deployed, :header_text => "Deployments", :empty_text => "This artifact has no deployments." }
