.dcloud_form
  %h2
    Login
  - form_for @user_session, :url => user_session_path do |f|
    = f.error_messages
    %ul
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password
    = f.submit "Login", :class => "submit"

.account_actions  
  %p
    Don't have an account? 
    - if open_signup_mode?
      = link_to 'Register', new_account_path
    - else 
      = link_to 'Request one', new_account_request_path
      
  %p
    Forgot your password?
    = link_to 'Reset it', new_password_reset_path
