#header-bar
  #header
    #logos
      #steamcannon-logo
        =link_to( image_tag( 'logo2.png' ), root_path )
    #user-header
      - if @current_user
        = link_to h(@current_user.email), account_path 
        |
        = link_to 'Log out', user_session_path, :method => :delete 
        .header_instances
          .running_instances
            Running Instances: #{@current_user.cloud_specific_hacks.instances_summary[:running]}
          .managed_instances
            Managed Instances: #{@current_user.cloud_specific_hacks.instances_summary[:managed]}
          - runaway_instances = @current_user.cloud_specific_hacks.instances_summary[:runaway]
          - if runaway_instances > 0
            .runaway_instances
              = link_to "Possible Runaway Instances: #{runaway_instances}", cloud_instances_path
          - else
            = link_to 'Details', cloud_instances_path
      - else
        = link_to 'Log in', new_user_session_path if @current_user.nil?
    .clearfix
