<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Instances: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'jquery.pulse.js' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="main-body">
    <div id="container">
      <div id="header">
        <h1><a href="http://jboss.org/stormgrind/projects/coolingtower.html">AppDeployer</a></h1>
      </div>
      <div id="contentcontainer">
    	<div id="container_grey">
      	  <div id="main-contentwrapper"> 
            <div id="menu">

              <%= yield :menu %>

            </div>
      	    <div class="formcontainer">

	      <% if flash[:notice] %>
	      <p class="callout_success"><%= flash[:notice] %></p>
	      <% end %>
	      <% if flash[:error] %>
	      <p class="callout_fail"><%= flash[:error] %></p>
	      <% end %>

	      <%= yield %>

            </div>
          </div>
          <div id="one-col-corners"/>
        </div>
      </div>
    </div>
    <div class="footer">
      <p> Powered by <a href="http://jboss.org/stormgrind/projects/coolingtower.html">Cooling Tower</a></p> 
    </div>
  </body>
</html>
